.box {
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  box-shadow: var(--box-shadow);
}
.box:hover {
  outline: var(--outline-hover);
  outline-offset: 0;
}
.box img{
  margin: 0 auto;
}
.box h3 {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--black);
  line-height: 1;
}
.box p {
  line-height: 1.5;
  color: var(--light-color);
}
