.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../images/4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5rem;
  padding-top: 30rem;
  padding-bottom: 20rem;
}
.home .content {
  text-align: center;
  width: 60rem;
}
.home .content h3 {
    color: var(--black);
    font-size: 3rem;
  }
  .home .content h3 span {
    color: var(--orange);
  }
  .home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
  }