.home {
  background: url(../../images/3784896.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  margin-top: 6.5rem;
  padding-top: 10rem;
  padding-bottom: 20rem;
}
section {
  padding: 2rem 9%;
  margin-top: 9rem;
}
.heading {
  padding: 2rem 0;
  padding-bottom: 3rem;
  color: var(--black);
}
.heading span {
  background: var(--orange);
  color: #fff;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.service-home .box-container {
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 1.5rem;
}
